@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

body {
	font-family: 'Nunito';
}
h1 {
	font-weight: 700;
	/* font-size: 2.2rem; */
}

button {
	/* width: 130px; */
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
	/* line-height: 16px; */
}

.navItems {
	font-weight: 700;
	font-size: 16px;
	line-height: 16px;
	text-transform: uppercase;
	color: #0a0a0a;
}

.active {
	line-height: 14px;
	color: #979797;
}

.hero--card {
	background: rgba(0, 0, 0, 0.36);
	backdrop-filter: blur(17px);
}

/* @layer components {
	.navItems {
		@apply;
	}
} */
