@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800&display=swap');

@layer components {
	h1 {
		@apply font-bold text-[1.6rem] md:text-[2.2rem];
	}
	h2 {
		@apply font-semibold;
	}
	p {
		@apply text-[#616161];
	}
}

body {
	font-family: 'Nunito';
}

button {
	height: 40px;
	font-weight: 700;
	font-size: 16px;
	text-transform: uppercase;
}

.navItems {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1rem;
	text-transform: uppercase;
	color: #0a0a0a;
}

.active {
	line-height: 0.875rem;
	color: #979797;
}

.hero--card {
	background: rgba(0, 0, 0, 0.36);
	backdrop-filter: blur(17px);
}
